.accordion-outside {

  .accordion-title {
    height: fit-content;
    align-items: center;
  }

  .accordion-body {
    padding: 9px 20px;
  }

  .block-type-accordion {
    padding: 10px 15px 10px 15px;
  }

  .accordion {
    border: 4px none #e74e25;
    border-radius: 4px;
    cursor: pointer;
  }

  .accordion-frame {
    border-radius: 4px;
  }

  .dark {
    background-color: #243941;
  }

  .light {
    background-color: #fff;
  }

  .accordion-button {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;
  }
}