$image-border-radius: 4px;
$image-width: 300px;

.feature--image {
  width: $image-width;
  border-radius: $image-border-radius;
}

.block-type--feature {
  margin-bottom: 30px !important;
}

.bg-img {
  background-image: url(https://kajabi-storefronts-production.kajabi-cdn.com/kajabi-storefronts-production/themes/3617585/settings-images/zcyoCkKlSnurUp9sR2M5-file.jpg);
  background-position: top;
}