$image-width: 450px;
$border-radius: 4px;
$image-align-mobile: flex-start;
$overlay-background-color: #fff;
$overlay-text-color: "";
$image-align-desktop: flex-start;
$bg-type: none;
$bg-video: "";
$bg-image: "";
$bg-position: center;
$background-fixed: false;
$background-color: #0e1b20;
$hide-on-desktop: false;
$padding-desktoptop: -500px;
$padding-desktopleft: 0px;
$padding-desktopright: 0px;
$padding-desktopbottom: -500px;
$vertical: center;
$horizontal: center;
$equal-height: false;
$full-width: false;
$full-height: false;
$hide-on-mobile: false;
$padding-mobiletop: 20px;
$padding-mobileleft: 10px;
$padding-mobileright: 10px;
$padding-mobilebottom: 0px;
$reveal-event: "";
$reveal-offset: "";
$reveal-units: seconds;

.footer-brand {
    background-image: $bg-image;
    background-position: $bg-position;
}

.footer-brand .section {
    background-color: $background-color;
}

.footer-brand .sizer {
    padding-top: $padding-mobiletop;
    padding-bottom: $padding-mobilebottom;
}

.footer-brand .container {
    max-width: 100%;
    padding-right: $padding-mobileright;
    padding-left: $padding-mobileleft;
}

.footer-brand .container-full {
    max-width: calc(100% + $padding-mobileright + $padding-mobileleft);
}

@media (min-width: 768px) {
    .footer-brand {
        background-attachment: fixed;
    }

    .footer-brand .sizer {
        padding-top: $padding-desktoptop;
        padding-bottom: $padding-desktopbottom;
    }

    .footer-brand .container {
        max-width: calc(1260px + $padding-desktopright + $padding-desktopleft);
        padding-right: $padding-desktopright;
        padding-left: $padding-desktopleft;
    }

    .footer-brand .container-full {
        max-width: calc(100% + $padding-desktopright + $padding-desktopleft);
    }
}

.footer-brand .row {
    -webkit-box-align: stretch !important;
    -ms-flex-align: stretch !important;
}

.footer-brand .block {
    display: flex;
    justify-content: $image-align-mobile;
}

.footer-brand .block-type-image {
    width: min-content;
    margin: 0px;
}

.footer-brand .image {
    width: $image-width;
}

.footer-brand .image-overlay {
    opacity: 1;
    background-color: $overlay-background-color;
    border-radius: $border-radius;
}

.footer-brand .image-overlay-text {
    color: $overlay-text-color !important;
}

@media (min-width: 768px) {
    .footer-brand .block {
        display: flex;
        justify-content: $image-align-desktop;
    }
}

.footer-brand .image-overlay {
    opacity: 0;
}

.footer-brand .image-overlay:hover {
    opacity: 1;
}