$text-color: #fbf5e3;
$background-color: #0e1b20;
$hide-on-desktop: false;
$vertical-layout: false;
$hide-on-mobile: false;
$font-size-desktop: 16px;
$font-size-mobile: 14px;
$logo-text-color: "";
$logo-width: 40px;
$social-icons-text-color: #fbf5e3;
$social-icons-background-color: #ffffff;

#section-footer {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer {
    .link-list {
        justify-content: right;

        @media (max-width: 768px) {
            justify-content: center;
        }
    }

    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;

    .footer-block {
        font-size: $font-size-mobile;
        color: $text-color;
        background-color: $background-color;
    }

    .logo-text {
        color: $logo-text-color;
    }

    a.link-list-link {
        color: $text-color;
    }

    .link-list-link:hover {
        color: $text-color;
    }

    .footer-block {
        @media (min-width: 768px) {
            font-size: $font-size-desktop;
        }
    }

    .powered-by {
        background-color: $background-color;
    }

    .logo-image {
        line-height: 1;
        display: block;
        width: $logo-width;
    }

    .social-icons-icon {
        color: $social-icons-text-color !important;
    }

    .social-icons-round .social-icons-icon {
        background-color: $social-icons-background-color;
    }

    .social-icons-square .social-icons-icon {
        background-color: $social-icons-background-color;
    }
}