$text-color: #e74e25;
$background-color: #0e1b20;
$hide-on-desktop: false;
$position: overlay;
$hide-on-mobile: false;
$mobile-header-dropdown-color: #0e1b20;
$mobile-header-text-color: "";
$mobile-text-alignment: center;
$font-size-desktop: 18px;
$font-size-ipad: 15px;
$font-size-mobile: 16px;
$logo-width: 120px;
$btn-background-color: #e74e25;
$btn-text-color: #fbf5e4;
$btn-border-radius: 50px;

.header {
  background-color: $background-color;

  a.link-list-link {
    color: $text-color !important;
  }

  a.link-list-link:hover {
    color: $text-color;
  }

  .dropdown-trigger {
    color: $text-color !important;
  }

  .dropdown-trigger:hover {
    color: $text-color;
  }

  .dropdown-item a {
    color: $text-color;
  }

  .user-login a {
    color: $text-color !important;
  }

  .hamburger-slice {
    background-color: $text-color;
  }

  @media (min-width: 871px) {
    font-size: $font-size-desktop;

    .dropdown-menu {
      background-color: $background-color;
    }
  }

  @media (max-width: 870px) {
    font-size: $font-size-ipad;
  }


  @media (max-width: 767px) {
    font-size: $font-size-mobile;

    a.link-list-link {
      text-align: $mobile-text-alignment;
      color: $mobile-header-text-color;
    }

    .dropdown-item a {
      text-align: $mobile-text-alignment;
      color: $mobile-header-text-color;
    }

    .user-login a {
      text-align: $mobile-text-alignment;
      color: $mobile-header-text-color;
    }

    .header-overlay .header-content-mobile {
      padding: 20px 0;
    }

    .header-content-mobile {
      text-align: $mobile-text-alignment;
      background-color: $mobile-header-dropdown-color;
      .btn{
        margin: 0px;
      }
    }
  }

  .logo-image {
    background-color: #0e1b20;
    line-height: 1;
    display: block;
    width: $logo-width;
  }

  .header-block-cta {
    display: block;
    padding: 8px 20px;
  }
}