.library {
  .resume-course-image {
    @media (min-width: 768px) {
      width: 175px;
      height: 98.4333px;
    }
  }

  .product {
    border: 1px ridge #e74e25;
    border-radius: 4px;
  }

  .product-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    justify-content: space-between;
  }

  .progress-inner {
    height: 10px;
    background-color: #ed9081;
  }

  .progress-outer {
    overflow: hidden;
    width: 100%;
    height: 10px;
    border-radius: 10px;
    background-color: #eeeeee;
  }

  .progress {
    background-color: #fbf5e4;
    padding: 10px 0 20px 0;
  }

  .resume-course-status,
  .products-title {
    color: #e74e25;
  }

  .product-title,
  .resume-course-title {
    color: #1e4397;
  }

  .product-body {
    color: #0e1b20;
    line-height: 1;
  }

  .resume-course-text {
    width: 60%;
    margin-right: 5%;
    text-align: right;

    @media (max-width: 768px) {
      text-align: left;
      width: 100%;
      margin-right: 0px;
    }
  }

  .grid-container {
    @media (min-width: 768px) {
      display: grid !important;
      grid-template-columns: 33.33% 33.33% 33.33% !important;
    }
  }

  .products-header {
    @media (min-width: 768px) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }
  }

  .resume-course-positioner {
    @media (min-width: 768px) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      width: 100%;
    }
  }

  .resume-course-content {
    @media (min-width: 768px) {
      display: block;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      color: inherit;
    }
  }
}