.bg-review {
    background-color: #fbf5e4;
}

#block-titel .block {
    padding: 30px;
}

#block-titel h1 {
    font-size: 80px;
    @media (max-width: 768px) {
        font-size: 28px;
    }
}

#block-titel h4 {
    font-size: 20px;
    @media (max-width: 768px) {
        font-size: 18px;
    }
}

#block-person-1 .block {
    border: 4px solid #e74e25;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 30px;
}

#block-person-1 .frame {
    margin-top: -50px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 30px;
}