.bg-review {
  background-color: #fbf5e4;
}

.review {
  b {
    color: #FBF5E4;
    background: #95A5A6;
    padding: 15px 10px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 300;
    line-height: 5px;
    text-align: center;
    letter-spacing: 1px;
    text-decoration-line: none;
    transition: .5s;
  }

  .owl-wrapper-outer {
    margin: 0 auto;
    overflow: hidden;
  }

  .owl-wrapper {
    white-space: nowrap;
    transition: all 800ms;
  }

  .owl-item {
    display: inline-block;
  }

  .owl-button {
    border: 0px;
    padding: 13px 17px 13px 17px !important;
    cursor: pointer;
  }

  .owl-next {
    position: absolute;
    right: -30px;
    bottom: 320px;
    padding: 8px 17px;
    background: #1E4397;
    border-radius: 50px;
    transition: .5s;
  }

  .owl-prev {
    position: absolute;
    left: -30px;
    bottom: 320px;
    padding: 8px 17px;
    background: #1E4397;
    border-radius: 50px;
    transition: .5s;
  }

  .news-grid {
    max-width: 340px;
    max-height: 700px;
    position: relative;
    background: #FBF5E4;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #ddd;
    margin: 10px;
  }

  .news-grid-txt {
    padding: 25px 0px 25px 0px;
    text-align: center;
    margin: auto;

    a {
      color: #FBF5E4;
      background: #ED9081;
      padding: 15px 20px;
      border-radius: 30px;
      font-size: 14px;
      font-weight: 300;
      line-height: 5px;
      text-align: center;
      letter-spacing: 1px;
      text-decoration-line: none;
      transition: .5s;
    }
  }

  .col-3 {
    width: 100%;
  }

  #block-titel .block {
    padding: 30px;
  }

  #block-titel h1 {
    font-size: 80px;

    @media (max-width: 768px) {
      font-size: 28px;
    }
  }

  #block-titel h4 {
    font-size: 20px;

    @media (max-width: 768px) {
      font-size: 18px;
    }
  }

  #block-person-1 .block-type-image {
    margin-top: 30px;
  }

  #block-person-1 .block {
    border: 4px solid #e74e25;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 30px;
    margin: auto;
  }

  #block-person-1 .row {
    @media (max-width: 768px) {
      display: block
    }
  }

  #block-person-1 .container {
    padding-left: 75px;
    padding-right: 75px;
  }

  #block-person-1 .frame {
    margin-top: -50px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;

    @media (max-width: 768px) {
      text-align: center !important;
    }
  }

  #block-person-1 .image {
    @media (max-width: 768px) {
      margin: 0px;
    }
  }

  #block-person-1 .container {
    @media (max-width: 768px) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  #block-person-1 p {
    font-size: 14px;
    margin: 0px;
  }

  #block-person-1 a:hover {
    -webkit-filter: brightness(115%);
    filter: brightness(115%);
  }

  #block-person-1 .block-text {
    padding-top: 5px;
    padding-bottom: 0px;
    padding-left: 8%;
    padding-right: 0px;
    margin-left: -30px;

    @media (max-width: 768px) {
      width: 100%;
      padding: 0px;
      margin-top: 20px;
      margin-bottom: 0px;
      margin-left: 0px;
      margin-right: 0px;
    }
  }

  .section-feature-1 {
    .block {
      border: 3px dotted #ed9081;
      border-radius: 10px;
      background-color: #ffffff;
      padding: 30px;
    }

    h4 {
      font-size: 20px;
    }

    p {
      font-size: 14px;
    }

    .grid-container {
      @media (min-width: 768px) {
        display: grid !important;
        grid-template-columns: 25.6% 25.6% 25.6% 25.6% !important;
      }
    }

    .feature-image {
      border-radius: 4px;
    }
  }
}