.video-player {
  position: relative;

  .controls-wrapper {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }

  .video-controller {
    display: flex;
    justify-content: space-between;
    position: absolute;
    box-sizing: border-box;
    background-color: rgba(189, 189, 189, 0.5);
    display: flex;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    padding: 0px 15px;
    height: 35px;
    z-index: 3;
    -o-transition: opacity .2s ease-in-out;
    -ms-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -webkit-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
  }

  .player-button {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    background: none;
    border: none;
  }

  .player-button:hover {
    background-color: rgb(33, 33, 34);
    opacity: 0.7;
  }

  .video-progress {
    display: flex;
    align-items: center;
    width: 80%;
    padding: 0px 10px;

    .input-progress {
      width: 100%;
      height: 5px;
    }

    .input-progress::-moz-range-thumb {
      border: none;
      width: 10px;
      height: 10px;
      background: #007bff;
      cursor: pointer;
    }
  }

  .video-volume {
    height: 100%;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .video-volume:hover {
    background-color: rgb(33, 33, 34);
    opacity: 0.7;
  }

  .video-full-screen {
    height: 100%;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .video-full-screen:hover {
    background-color: rgb(33, 33, 34);
    opacity: 0.7;
  }

  video {
    margin-bottom: -8px;
  }

  .options-item{
    position: absolute;
    bottom: 35px;
  }

  .option-resolutions {
    display: flex;
    flex-direction: column-reverse;
    background-color: white;
  }

  .resolutions-active {
    background-color: #007bff;
  }

  .volume-progress{
    position: absolute;
    transform: rotate(-90deg);
    background-color: white;
    bottom: 105px;
  }
}

.popup-player-options-content {
  width: 40px !important;
}

.popup-player-volume-content {
  padding: 5px 0px !important;
  width: 25px !important;
}